<div class="container" style="  align-items: center;padding-left: 250px;padding-top: 30px; ">
   
    <!--    
        Hello world  <br><br>
        
        {{subject}}   <br>
        {{type}} <br>
        {{fileName}}
     -->
    </div> 
    
    <div class="container" style="width: 900px;">
        <div class="panel panel-defualt">
            <div class="panel-heading">
                <h1 style="color:purple;text-align:center ; "> <b>Update File </b></h1>
            </div><br>
    
            <br>
            <div class="panel-body">        
              <strong>Select files from your computer</strong>
              <div *ngIf="fileStatus.status==='progress'">
                <div class="progress">
                  <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                      {{ fileStatus.requestType }} {{ fileStatus.percent }} 
                    </div>
                </div>
              </div> <hr>


            <div class="panel-body">

                

                <div class="row" style="padding-bottom:20px ;" >
                    <div class="col mb-3">
                        <label   class="form-label"> Subject </label>
                        <input type="text" class="form-control" id="subject" name="SUBJECT" required [(ngModel)]="subject" readonly  >
                        <!-- <div class="form-text text-danger" *ngIf="Subject.errors?.['required'] && (Subject.touched || Subject.dirty)"> 
                            Subject is Required
                        </div>
                        <div class="form-text text-danger" *ngIf="Subject.errors?.['minlength'] && (Subject.touched || Subject.dirty)"> 
                            Subject should be between 2-20 Chars only 
                        </div>
                        <div class="form-text text-danger" *ngIf="Subject.errors?.['pattern'] && (Subject.touched || Subject.dirty)">
                            Subject Must have only Alphabets
                        </div> -->
                    </div>              
                 </div>
                 
                 <div class="row" style="padding-bottom:20px ;" >
                    <div class="col mb-3">
                        <label   class="form-label"> Old File Name </label>
                        <input type="text" class="form-control" id="fileName" name="fileName" required [(ngModel)]="fileName" readonly>
                         
                    </div>              
                 </div>
        
         
    
                 <div class="row" style="padding-bottom:20px ;" >      
        
                    <div class="col    mb-3">
                        <div class="m-1">Type</div>
                        <div class="form-check form-check-inline" >
                             <input type="radio" class="form-check-input" value="ppt" id="ppt" name="TYPE"  required [(ngModel)]="type"   >
                             <label class="form-check-label" for="ppt">PPT</label>
                        </div>
                        <div class="form-check form-check-inline"  >
                            <input type="radio" class="form-check-input" value="video" id="video" name="TYPE"  required  [(ngModel)]="type"     >
                            <label class="form-check-label" for="video">VIDEO</label>
                       </div>
                       <!-- <div class="form-text text-danger" *ngIf="Type.errors?.['required'] && ( Type.touched || Type.dirty)">
                        Type is required
                      </div> -->
                    </div>
                </div>
        
    
                <form enctype="multipart/form-data" (ngSubmit)="updateFile()"  [formGroup]="registerform">
                    <fieldset>
                         <strong> Choose File  </strong>
    
                        <!-- <div class="row form-group">
                         <div class="col mb-3">
                            <input type="file" (change)="onUploadFile($event)" name="FILE"  id="file" class="form-control"  
                            accept="application/msword,   application/vnd.ms-powerpoint,text/plain, application/pdf,video/* ">
                            <div class="form-text text-danger" *ngIf="File.errors?.['required'] && ( File.touched || File.dirty)">
                                File required
                              </div>
                              <div class="form-text text-danger" *ngIf="File.errors?.['minLength'] && ( File.touched || File.dirty)"> 
                                Min chars 15 only
                            </div>
                        </div>
                    </div> -->

                 

                    <div class="row form-group">
                        <div class="col mb-3"> 
    
                            <div *ngIf="type=='ppt'">
                                    <input type="file" (change)="onUploadFile($event)" name="FILE" formControlName="FILE" id="file" class="form-control" 
                                       accept="application/msword,   application/vnd.ms-powerpoint,text/plain ,  application/pdf, " >
                            </div> 
                            
                            <div *ngIf="type=='video'" >
                                    <input type="file" (change)="onUploadFile($event)" name="FILE"  id="file" class="form-control" 
                                        accept="video/* " >
                            </div> 
    
                                 <div class="form-text text-danger" *ngIf="File.errors?.['required'] && ( File.touched || File.dirty)">
                                    File required
                                  </div>
                                  <div class="form-text text-danger" *ngIf="File.errors?.['minLength'] && ( File.touched || File.dirty)"> 
                                    Min chars 15 only
                                </div>
                        </div>
    
                    </div>
    
                </fieldset> <br> <br>
    
                <div class="row" style="text-align: center;">
                    <div  >
                        <div>
                            <button  class="btn btn-primary"  type="submit"  [disabled]="registerform.invalid"  >Update</button> &nbsp;&nbsp;
                            <button  type="reset" class="btn btn" style="background-color:orangered;color: white;">Reset</button>&nbsp;&nbsp;
                            <button  class="btn btn-warn" style="background-color:red;color: white;"  (click)="toDashBoard()" >Cancel</button>
                        </div>
                    </div>
                </div>
                 </form>

                 <br>  
      
             <div *ngIf="filenames.length > 0" class="js-upload-finished">
               <h3>Processed files</h3>
               <div *ngFor="let filename of filenames" class="list-group">
                 <!-- <a (click)="onDownloadFile(filename)" class="list-group-item list-group-item-success" style="cursor: pointer;"> -->
                   {{ filename }}            
                   <a class="alert-success float-right">Download</a>
                 <!-- </a><br> -->
               </div>
             </div>
            </div>
        </div>
    </div>
    